a {
    text-decoration: none;
}

#develop {
    color: hsl(0, 0%, 51%)
}

#xleb {
    color: hsl(0, 0%, 100%);
}

    body {
      background-color: hsl(0, 0%, 8%);
      font-family: 'Figtree', sans-serif;
      display: flex;
      justify-content: center; /* по горизонтали */
      align-items: center;     /* по вертикали */
      margin: 0; /* убираем отступы по умолчанию */
      /* font-family: 'Nunito', sans-serif; */
    }

    img {
      width: 80px;
      height: auto;
      border-radius: 100%;
      margin-top: 20px;
    }

    .main {
      background-color: hsl(0, 0%, 12%);
      text-align: center;
      padding: 20px;
      border-radius: 20px;
      width: 320px;
      height: auto;
      margin-top: 100px;
    }

    .links {
      background-color: hsl(0, 0%, 20%);
      border-radius: 10px;
      padding: 15px;
      margin: 15px;
      color: hsl(0, 0%, 100%);
      transition: background-color 0.3s;
    }

    .links:hover {
      background-color: hsl(75, 94%, 57%);
      color: hsl(0, 0%, 8%);
      font-weight: 500;
    }