body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: black;
    font-family: 'Nunito', sans-serif;
}

.main {
    background-color: hsl(0, 0%, 12%);
      text-align: center;
      padding: 20px;
      border-radius: 20px;
      width: 320px;
      height: auto;
      margin-top: 100px;
}

img {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    margin-top: 20px;
}

.links {
    background-image: linear-gradient(to right, #494949 0%, rgb(44, 44, 44) 100%);
    border-radius: 10px;
    padding: 15px;
    margin: 15px;
    color: hsl(0, 0%, 8%);
    transition: background-image 0.9s ease;
}

.links:hover {
    background-image: linear-gradient(to right, #5b5b5b 0%, rgb(53, 53, 53) 100%);
    color: hsl(0, 0%, 8%);
    font-weight: 500;
}

a {
    text-decoration: none;
}

#develop {
    color: hsl(0, 0%, 51%)
}

#xleb {
    color: hsl(0, 0%, 100%);
}